.info {
  color: $gray-light;
  position: relative;
  margin-bottom: 3px;
  
  &::before {
    content: "";
    display: block;
    position: absolute;
    min-width: 101%;
    height: 1px;
    background-color: $gray-line;
    top: -5px;
    
    @media(min-width: 768px) {
      min-width: 84%;
      top: -11px;
      left: 28px;
    }
    
    @media(min-width: 920px) {
      min-width: 0;
      width: 1px;
      height: 113%;
      left: -31px;
      top: 15px;
    }
    
    @media(min-width: 1280px) {
      height: 96%;
    }
  }
  
  @media(min-width: 768px) {
    margin-left: 28px;
    margin-bottom: 11px;
  }
  
  @media(min-width: 920px) {
    margin-bottom: 0;
    margin-left: 41px;
    margin-top: -13px;
  }
  
  @media(min-width: 1280px) {
    margin-left: 124px;
    margin-top: -26px;
  }
  
}

.info__date {
  font-weight: 500px;
  color: $blue;
}

.info__price {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $gray;
  
  @media(min-width: 768px) {
    font-size: 24px;
    line-height: 36px;
  }
}

.info__price-red {
  color: $red;
}

