.button {
  min-width: 101.5%;
  min-height: 44px;
  background-color: $yellow;
  padding: 12px 50px 12px 74px;
  color: $gray;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  
  @media(min-width: 768px) {
    min-width: 84.5%;
    margin-left: 28px;
    margin-right: 88px;
  }
  
  @media(min-width: 920px) {
    min-width: 268px;
    margin-left: 44px;
    margin-right: 32px;
    margin-bottom: 40px;
  }
  
  @media(min-width: 1280px) {
    min-width: 0;
    width: 268px;
    margin: 98px 32px -11px 123px;
  }

  &:hover {
    background-color: $yellow-hover;
  }

  &:active {
    background-color: $yellow-active;
  }
}