// Colors
$color-basic: #111111;
$black-basic: #000000;
$white-basic: #ffffff;
$yellow: #FAC62D;
$yellow-hover: #F0B505;
$yellow-active: #E1AB08;
$gray: #383736;
$gray-light: #989691;
$blue: #2794DB;
$red: #EB4B51;
$green: #64B851;
$gray-cross: #C4C4C4;
$gray-background-confirm: #F2FAF0;
$gray-background: #FAF0F0;
$gray-hover: #F5F4F2;
$gray-active: #E7E4DE;
$gray-line:   #F0EEEB;
